<div class="jumbotron flora-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-9">
          <h2>Citizen <span class="second_name">Scientist</span><span class="tagline">Biodiversity Informatics in Indonesia</span></h2>            
        </div>
      </div>
    </div>
</div>

<div class="container">
    
    <div class="row">
        <!--
        <div class="col-md-8">
            <div class="flora-content text-justify">
                <h3>Join us</h3>
                <p></p>
            </div>
        </div>
        -->

        <!--<div class="col-md-4">-->
        <div class="col-md-4 col-md-offset-4" style="margin-bottom: 30px;">
            <div class="form-signin">
                <form role="form" action="{$basedomain}login/doLogin" method="POST" id="formLogin">
                    <div class="bodyForm">
                        <h1 class="text-center">LOGIN<span> FORM</span></h1>
                        <h5 class="text-center">Please sign in to get access.</h5>
                        <input type="text" id="login-username" class="form-control" name="username" placeholder="Username" required autofocus>
                        <input type="password" id="login-password" class="form-control" name="password" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <div class="text-center" style="margin-top: 10px;">
                            <a href="{$portaldomain}">Back to portal</a> | 
                            <a href="{$basedomain}register/forgotPassword">Forgot Password?</a>
                        </div>
                    </div>
                </form>
                <a class="btn btn-lg btn-primary btn-block" href="{$basedomain}register" style="max-width: 450px;">Register</a>
            </div>
        </div>
    </div>

</div> <!-- /container -->

<div class="partner flora-content">
    <div class="container">
    
    <div class="row">
        <div class="col-sm-6">
            <p>Joint Research Between:</p>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{$basedomain}assets/img/logo/gundar-logo.png" class="img-responsive" />
                </div>
                <div class="col-sm-3">
                    <img src="{$basedomain}assets/img/logo/kehati-logo.jpg" class="img-responsive" />
                </div>
                <div class="col-sm-3">
                    <img src="{$basedomain}assets/img/logo/aa-logo.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-offset-2">
            <p>Funded by:</p>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{$basedomain}assets/img/logo/usaid.png" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>

    </div>

</div>

<div class="footer">
    <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
</div>